<li class="media comment">
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user.name %> says
      <small class="text-muted">[at <%= comment.created_at.strftime('%B %-d  %Y, %H:%M:%S') %>]</small></h4>
    <p><%= comment.body %></p>
  </div>
</li>

