<div class="jumbotron">
  <%= form_for @comment, url: room_comments_path(@room), remote: true do |f| %>
    <div class="form-group">
      <%= f.text_area :body, rows: 3, class: 'form-control', required: true, maxlength: 2000 %>
      <%= f.hidden_field :room_id, :value => @room.id %>
	  <%= f.submit 'Post', class: 'btn btn-warning btn-md' %>
	  <% end %>
    </div>
 
    
  
</div>