<div id=”newRoom”>

<div class="container">
	<div class="jumbotron">
		<h3>Let's Help a Brogrammer out</h3>
	</div>
    <div class="row">
            <table class="table">
            	        <thead>
                    <tr class="filters">
                        <th>Room Name</th>
                        <th>Topic</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                    <tr> <% @rooms.each do |x| %></tr>
                       <td> <%= link_to x.name.upcase, x %> </td>
                       <td> <%= x.subject %> </td>
                       <td> <%= x.created_at %> </td>
                       <% end %>   
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
	
