<div class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="index.html">Brogram.it</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Create Private Room", new_room_path %></li>
			<li><a href="about.html">Join Existing Room</a></li>
			<li class="dropdown">
<!-- 				<ul class="dropdown-menu" role="menu"> -->
					<% if current_user %>
						Welcome <%= current_user.name %>!
						<%= link_to "Sign Out", logout_path %>
						<% else %> 
						<%= link_to "sign in", "/auth/github/" %>
						<% end %>
					</ul>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>




